:root {
    --current-image1: url('weapons1');
    --current-image2: url('weapons2');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    font-size: 2em;
    color: black;
}

.top-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.box {
    flex: 1;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
    margin-right: 10px; 
}

.middle-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    margin-top: 20px;
}


.left-box, .right-box {
    flex: 1;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 10px; 
}

.middle-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 2;
}

.middle-box {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 10px; /* Adjusted margin-right */
}

title:visited{
    color: black;
}

.image-right {
    float: right;
}
