:root {
    --current-image1: url('weapons1');
    --current-image2: url('weapons2');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.title {
    font-size: 2em;
    color: black;
}

.top-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.box {
    flex: 1;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
    margin-right: 10px; 
}

.middle-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    max-width: 80%;
    margin-top: 20px;
}


.left-box, .right-box {
    flex: 1;
    background-color: lightblue;
    text-align: center;
    min-height: 75%;
    max-height: 75%;
    min-width: 40%;
    max-width: 40%;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 10px; 
}

.middle-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 2;
}

.middle-box {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 10px; /* Adjusted margin-right */
}

title:visited{
    color: black;
}

.image-right {
    float: right;
}

.dropbtn {
    background-color: lightblue;
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: lightblue;}

  .card{
    width: 100%;
    height: auto;
  }